# git? nah.
**/.git/**
# it is extremely important that no .env files leak from dev
# boxes into docker images, or taql may not be configured the way
# we think it is
.env

Dockerfile

node_modules
**/node_modules
**/build
.tool-versions
supergraph.json

# begin ignores for yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
# end yarn
