#!/bin/bash
source_env_if_exists .env

use asdf

# set up the node version
[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh" && nvm install
NVMRC_VERSION="$(cat .nvmrc)"
if [ "$(node --version)" != "$NVMRC_VERSION" ]; then
  echo "Use node version ${NVMRC_VERSION} (per .nvmrc). We recommend installing nvm to manage node versions"
  exit 1
fi
export LEGACY_GQL_HTTPS_PORT=443
export SSL_REJECT_UNAUTHORIZED=false
export CLIENT_CERT_PATH=/etc/certs/dpanofsky-dev.dhcp.tripadvisor.com.cer
export CLIENT_KEY_PATH=/etc/certs/dpanofsky-dev.dhcp.tripadvisor.com.key
export CLIENT_CERT_CA_PATH=/etc/certs/TA-Dev-Bundle.pem
