#!/bin/bash

# set up the node version
[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh" && nvm install
NVMRC_VERSION="$(cat .nvmrc)"
if [ "$(node --version)" != "$NVMRC_VERSION" ]; then
  echo "Use node version ${NVMRC_VERSION} (per .nvmrc). We recommend installing nvm to manage node versions"
  exit 1
fi
